---
layout: layouts/base.njk
permlink: /
---




HEllo heres what i can do with ELeventy!!! This is dynammic content!

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

{# This place im using my base and passing it my data  #}
{# The top section in any njk file is a yaml desc of the template we r gonna use and other details #}
{# like path etc  #}
{# Ensure space after colon in yaml ...that error sucks 😑 #}