 <html>
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>This is Jblog</title>
 </head>
 <body>
      <h1>This is Jblog Static TItle</h1>
      {{ content | safe }}
     {# heres the content from our source  #}
 </body>
 </html>


{# This is the base Template for my site using nunjuks templating lang  #}
{# there are many more like liquid etc  #}
